h1{
    color: rgb(0, 0, 0);
    
    font-size: xxx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: white;
    padding: 20px;

    border: 2px solid black;
}

a:link{
    color:rgb(0, 21, 255);
    font-family: 'Courier New', Courier, monospace;
}

a:hover{
    color:rgb(255, 0, 166);
    font-family: 'Courier New', Courier, monospace;
}

a:visited{
    color:rgb(255, 0, 0);
    font-family: 'Courier New', Courier, monospace;
}

table{
    background-color: lightgrey;
    border: 2px solid black;
    padding: 10px;
}